<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="Spring-Hibernate" class="org.apache.log4j.FileAppender">
        <param name="File" value="/home/sevenbits/ipastushenko/n-exchange.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>

    <logger name="org.springframework">
        <level value="DEBUG"/>
        <appender-ref ref="Spring-Hibernate"/>
    </logger>

    <logger name="org.hibernate">
        <level value="DEBUG"/>
        <appender-ref ref="Spring-Hibernate"/>
    </logger>

    <logger name="org.hibernate.SQL">
        <level value="DEBUG"/>
        <appender-ref ref="Spring-Hibernate"/>
    </logger>

    <logger name="it.sevenbits">
        <level value="DEBUG"/>
        <appender-ref ref="Spring-Hibernate"/>
    </logger>

</log4j:configuration>